@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.hero {
  position: relative;
  width: 100%;
  margin-top: 60px;
  height: 425px;
  @include flex-center;
  overflow: hidden;

  @include tablet-up {
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10rem;
    height: 690px;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &__overlay {
    position: relative;
    padding: $spacing-xl;
    max-width: 55rem;
    color: $color-white;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    @media (max-width: 767px) {
      align-items: center;
      text-align: center;
    }

    @include tablet-up {
      align-items: flex-start;
      text-align: left;
      margin-left: 12rem;
      margin-bottom: $spacing-xl;
      max-width: 40rem;
    }
  }

  &__heading {
    padding-top: 20px;
    font-family: $font-family-nunito;
    font-size: 26px;
    font-weight: $font-weight-bold;
    max-width: 285px;

    @include tablet-up {
      font-size: 40px;
      max-width: 40rem;
    }
  }

  &__subheading {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    max-width: 40rem;
    line-height: $line-height-normal;
    color: $color-primary;
  }

  &__accent {
    color: $color-primary;
  }

  &__cta {
    @include button-primary;
    padding: $spacing-md $spacing-xl;
  }
} 