@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.intro {
  @include full-width;
  @include section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include text-center;
  gap: $spacing-xl;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    color: $color-primary;
    margin-bottom: $spacing-xl;
    margin-top: $spacing-4xl;
  }

  &__heading {
    color: $color-black;
    font-family: $font-family-nunito;
    font-weight: $font-weight-normal;
    font-size: 29px;
    text-align: center;
    margin-bottom: $spacing-4xl;
    max-width: 690px;
  }

  &__accent {
    color: $color-primary;

    &--primary {
      color: $color-primary;
      font-weight: $font-weight-bold;
    }

    &--bold {
      font-weight: $font-weight-extrabold;
      color: $color-black;
    }
  }

  &__paragraph {
    max-width: 60rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: $line-height-normal;
  }

  // Mobile styles
  @media (max-width: 768px) {
    &__heading {
      font-family: $font-family-nunito;
      font-weight: 800;
      font-size: 15px;
      letter-spacing: 0%;
      text-align: center;
    }

    &__accent {
      font-family: $font-family-nunito;
      font-weight: 800;
      font-size: 15px;
      letter-spacing: 0%;
      text-align: center;

      &--primary {
        color: $color-primary;
        font-family: $font-family-nunito;
        font-weight: 800;
        font-size: 15px;
        letter-spacing: 0%;
      }

      &--bold {
        font-weight: 800;
        color: $color-black;
        font-family: $font-family-nunito;
        font-size: 15px;
        letter-spacing: 0%;
      }
    }
  }
} 